/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.review-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.review-image {
    display: flex;
    text-align: center;
    margin-left: 20%;
    margin-top: 20px;
}

.review-image img {
    width: 20em;
    height: auto;
}