.cart-item{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.cart-item img {
    max-width: 100px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

