/* css code for login page*/
input{
	height: 30px;
	border-radius: 1rem;
	padding-left:1rem;
	}
  .Back_LG{
    display:block;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 16px;
    width: 300px;
    height: 250px;
    border-radius: 1rem;
    padding:30px 5px 5px 25px; 
    margin:  auto;
    background-color: #403d3d;
    } 


  